:root {
    --color-primary: rgb(39, 50, 150);
    --color-secondary: rgb(36, 162, 207);
    --color-gray: rgb(233, 233, 233);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

i {
    color: white;
    width: 20px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

header {
    height: 100vh;
    width: 200px;
    background-color: var(--color-primary);
    position: static;
}

.wrapper {
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100vh;
}

main {
    flex: 1;
}

.logo {
    max-width: 100px;
}

.navbar {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-between;
    height: 100vh;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item {
    list-style-type: none;
    padding: 10px;
    transition: .5s ease;
}

.nav-item.active{
    background-color: var(--color-secondary);
}

.nav-item a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
}

.nav-item a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.btn {
    background-color: var(--color-primary);
    border: none;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--color-secondary);
}

input {
    border-radius: 3px;
}

input:focus {
  outline: none !important;    
  box-shadow: none !important;   
  border-color: var(--color-primary) !important;
}

.alert {
    background-color: var(--color-primary);
    color: #ffffff;
    border: none;
}

.badge {
    background-color: var(--color-primary);
    color: #ffffff;
}

select:focus,
.form-select:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: none;
}

#room_id:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: none;
}

#den:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: none;
}

.req-table tbody td:nth-of-type(6) {
    text-align: right;
}

.req-table thead,
.req-table tbody{
    border-bottom: 1px solid var(--color-gray) ;
}