.row {
    width: 100%;
    gap: 10px;
}

.col {
    width: calc(25% - 10px);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-gray);
    position: relative;
    transition: .3s ease;
}

.col:hover::after {
    content: "";
    width: 4px;
    height: calc(100% + 2px);
    background-color: var(--color-primary);
    position: absolute;
    top: -1px;
    left: -1px;
}

.short {
    font-size: 20px;
    font-weight: 800;
}

.garant {
    font-size: 14px;
}