a {
    font-size: 14px;
}

p {
    margin: 0;
}

.col {
    border: 1px solid var(--color-gray);
    position: relative;
    transition: .3s ease;
    min-width: 315px;
}

.col:hover::after {
    content: "";
    width: 4px;
    height: calc(100% + 2px);
    background-color: var(--color-primary);
    position: absolute;
    top: -1px;
    left: -1px;
}

.short {
    font-size: 22px;
    font-weight: 800;
}

.garant {
    font-size: 14px;
}